div {
  overflow: hidden;
  color: white;
  padding: 20px 10px;
  border-radius: 5%;
  border-style: double;
  border-width: 4px;
  text-shadow: 2px 2px black;
}

#bouteille{
  background-color: blue;
}

#cannette{
  background-color: purple;
}

#chips{
  background-color: red;
}
